@charset "UTF-8";

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes esfera-girando {
  from {
    background-position: left center;
  }

  to {
    background-position: -51px center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, aliceblue, rgb(195, 203, 209), rgb(142, 167, 189));
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 15s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* navegador */
header {
  width: 100%;
  height: 70px;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor___nav---ordenado {
  display: flex;
  width: 33%;
  height: 100%;
  align-items: center;
}

.contenedor___nav---ordenado a {
  width: 40%;
}

.contenedor___nav---ordenado a img {
  margin-top: 5px;
  width: 40%;
  min-width: 202px;
}

.contenedor___nav---ordenado img {
  margin-top: 5px;
  width: 40%;
  min-width: 202px;
}

.contenedor___nav---ordenado input {
  height: 30px;
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.contenedor___nav---ordenado___img---icono---mobile {
  display: none;
  width: 33%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#listaBtn {
  justify-content: end;
  gap: 40px;
  margin-bottom: 0;
}

#listaBtn li {
  list-style: none;
}

#listaBtn li a {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}

#listaBtn li a::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: black;
  height: 1px;
  bottom: 0;
  text-align: center;
  transition: 0.5s;
}

#listaBtn li a:hover::before {
  width: 100%;
}

#listaBtn li #idioma::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: black;
  height: 1px;
  bottom: 0;
  text-align: center;
  transition: 0.5s;
}

#listaBtn li #idioma:hover::before {
  width: 100%;
}

#idioma {
  text-decoration: none;
  color: black;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
}

#divIdioma {
  width: 120px;
  height: 150px;
  background-color: #bdbcbc;
  display: none;
  position: absolute;
  left: 80%;
  top: 5%;
}

main {
  height: calc(100vh - 70px);
}

/* formulario inicio de sesion */
.contenedor___formulario {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.formulario___inicio---sesion {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: white;
}

.formulario___inicio---sesion h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
}

.formulario___inicio---sesion a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
  margin-top: -20px;
}

.formulario___inicio---sesion a:hover {
  color: rgb(0, 132, 255);
}

.form-group {
  position: relative;
  margin-bottom: 2em;
  width: 300px;
}

.form-group input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: #bdbcbc;
  pointer-events: none;
  transition: 0.5s ease all;
}

input:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 132, 255);
}

input:focus+label {
  top: -20px;
  font-size: 12px;
  color: rgb(0, 132, 255);
}

input:valid+label {
  top: -20px;
  font-size: 12px;
  color: rgb(0, 132, 255);
}

#submitIR {
  padding: 8px 18px;
  border: none;
  background-color: rgb(7, 42, 75);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;
}

#submitIR:hover {
  background-color: rgb(0, 132, 255);
  transform: scale(1.05);
}

#submitIR:active {
  background-color: rgb(0, 132, 255);
}

#submitIR:focus {
  outline: none;
  box-shadow: 0 0 5px black;
}

.contenedor___botones---registro {
  display: flex;
  align-items: center;
  gap: 20px;
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.contenedor___botones---registro a {
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

.contenedor___botones---registro a:hover {
  color: rgb(0, 132, 255);
}

/* formulario de registro */
.formulario___registro {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.formulario___registro h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  margin-top: 20px;
}

.form-group_r {
  position: relative;
  margin-bottom: 2em;
  width: 300px;
}

.form-group_r input {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.form-group_r label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 16px;
  color: #bdbcbc;
  pointer-events: none;
  transition: 0.5s ease all;
}

.contenedor___registro---btns___alineado {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
}

.contenedor___registro---btns___alineado input {
  width: 100%;
}

.contraseña {
  margin: 0;
}

.botones___alineacion {
  width: 145px;
}

.contenedor___select {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

select option {
  padding: 10px;
}

select option:checked {
  background-color: rgb(0, 132, 255);
  color: white;
}

/* titulo principal */
.contenedor___titulo---principal {
  height: 300px;
  width: 400px;
  color: black;
  position: absolute;
  left: 20%;
  top: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor___titulo---principal h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  margin-top: 25px;
  width: 58%;
  border-bottom: 1px solid black;
}

.contenedor___titulo---principal p {
  text-align: justify;
  cursor: text;
}

.contenedor___img---icono {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url(../imgs/mapacirculo.png);
  background-size: cover;
  box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-left: 240px;
  -webkit-animation: esfera-girando 2s infinite linear;
}

.contenedor___btn---titulo {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contenedor___btn---titulo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  background-color: aliceblue;
  height: 30px;
  width: 80px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.contenedor___btn---titulo a:hover {
  background-color: rgb(0, 132, 255);
  color: white;
}

.imagen___fondo {
  background: url(../imgs/pngtree-target-achievement-and-best-teamwork-background-flat-concept-png-image_3195757-removebg-preview.png);
  width: 250px;
  height: 250px;
  background-size: cover;
  position: absolute;
  left: 65%;
  top: 10%;
}

.imagen___fondo---2 {
  background: url(../imgs/trabajo_lampara-transformed-removebg-preview.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 25%;
}

.imagen___fondo---3 {
  background: url(../imgs/cowork-envio-removebg-preview.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  position: absolute;
  left: 65%;
  top: 45%;
}

/* filtro market */
.contenedor___palabra---filtro {
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.contenedor___palabra---filtro #palabraFiltro {
  height: 30px;
  border: none;
  position: relative;
  margin-right: 10px;
}

.contenedor___filtro {
  margin-left: 20px;
  width: 300px;
  border: 1px solid black;
  height: 400px;
  padding: 20px 0px;
  display: none;
}

.particion___filtro {
  width: 100%;
  height: 40px;
  text-align: center;
}

.envios___presupuestos {
  margin-bottom: 50px;
}

.envios___presupuestos label {
  display: block;
}

.contenedor___icono---animado {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: black;
  transition: 0.5s;
  text-align: center;
}

#palabraFiltro:hover+.contenedor___icono---animado {
  background-color: white;
  transform: rotate(360deg);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
}

.card .content {
  padding: 0px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.card .content ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  margin: 10px 0;
}

/* perfil emprendedor */
.centrado___emprendedor---perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor___principal---perfil___emprendedor---vista___usuario {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  background-color: white;
  border-radius: 8px;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contenedor___columna---uno {
  display: grid;
  grid-template-areas: "imagenEmprendedor nombreEmprendedor nombreEmprendedor" "serviciosEmprendedor serviciosEmprendedor serviciosEmprendedor";
}

.contenedor___img---emprendedor___vista---usuario {
  grid-area: imagenEmprendedor;
  max-width: 300px;
}

.contenedor___img---emprendedor___vista---usuario img {
  width: 100%;
  min-width: 200px;
  height: 200px;
  object-fit: cover;
}

.informacion___personal---emprendedor___vista---usuario {
  grid-area: nombreEmprendedor;
  height: 100px;
  padding-top: 30px;
  padding-left: 30px;
}

.lista___de---servicios {
  grid-area: serviciosEmprendedor;
  display: flex;
  justify-content: space-around;
}

.contenedor___columna---dos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor___columna---dos iframe {
  width: 80%;
  height: 80%;
  border-radius: 20px;
}

.contenedor___columna---tres {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  width: 100%;
}

.information {
  margin-left: 25px;
  border-radius: 15px;
  margin-right: 25px;
  overflow: hidden;
  width: 60%;
}

.container___slider {
  width: 100%;
  height: 40%;
  max-width: 900px;
  position: relative;
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  margin-left: -100%;
}

.slider___section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider___img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn___slider {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: aliceblue;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  border: none;
}

.btn___slider:hover {
  background-color: rgb(0, 132, 255);

}

.btn___slider---derecha {
  right: 10px;
}

.btn___slider---izquierda {
  left: 10px;
}

.contenedor___perfil---emprendedor___mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 1200px;
  gap: 40px;
}

.contenedor___imagen---nombre___emprendedor---mobile {
  display: flex;
  width: 90%;
  max-width: 800px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.imagen___emprendedor---perfil___mobile img {
  object-fit: cover;
  width: 200px;
}

.contenedor___lista---servicios___mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  align-items: center;
}

.contenedor___lista---servicios {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contenedor___lista---servicios ul {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contenedor___lista---servicios___mobile ul {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.mapa___zona---trabajo___mobile {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
}

.mapa___zona---trabajo___mobile iframe {
  width: 80%;
  max-width: 800px;
  height: 300px;
}

.contenedor___columna---cuatro {
  display: flex;
  justify-content: center;
}

#formularioConsultas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

#formularioConsultas input {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 132, 255);
}

#formularioConsultas textArea {
  width: 80%;
  outline: none;
  border: 1px solid rgb(0, 132, 255);
  border-radius: 8px;
  resize: none;
}

#formularioConsultas #submit {
  width: 80px;
  background-color: aliceblue;
  border: none;
  transition: .5s;
  border-radius: 8px;
}

#formularioConsultas #submit:hover {
  background-color: rgb(0, 132, 255);
  color: white;
}

/* footer */
footer {
  height: 200px;
  background-color: rgb(54, 54, 54);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.contenedor___informacion---pagina___footer {
  height: 85%;
  width: 33%;
  padding: 20px 20px;
}

#primerEstructuraFooter {
  border-right: 1px solid white;
  width: 33%;
}

#primerEstructuraFooter h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #bdbcbc;
}

#primerEstructuraFooter p {
  color: #bdbcbc;
  cursor: text;
}

#segundaEstructuraFooter {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  width: 33%;
}

#segundaEstructuraFooter h2 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #bdbcbc;
}

#segundaEstructuraFooter a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 50px;
}

#segundaEstructuraFooter a img {
  width: 50px;
}

.contenedor___titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor___imagenes---redes {
  display: flex;
  height: 50px;
  gap: 100px;
  justify-content: center;
  margin-top: 20px;
}

.contenedor___links---redes {
  display: none;
}

.contenedor___links---redes a {
  text-decoration: none;
  color: #bdbcbc;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.5s;
}

.contenedor___links---redes a:hover {
  color: rgb(0, 132, 255);
}

#tercerEstructuraFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tercerEstructuraFooter h2 {
  color: #bdbcbc;
  font-size: 20px;

}

#tercerEstructuraFooter p {
  color: #bdbcbc;
  margin-top: 30px;
}

#tercerEstructuraFooter p a {
  color: rgb(0, 132, 255);
  text-decoration: none;
}

.contendor___informacion---footer___mobile {
  display: none;
}

/* media querys width*/
@media (max-width: 1670px) {
  .imagen___fondo {
    left: 70%;
    top: 10%;
  }

  .imagen___fondo---2 {
    left: 50%;
    top: 25%;
  }

  .imagen___fondo---3 {
    left: 72%;
    top: 45%;
  }
}

@media (max-width: 1260px) {
  .contenedor___centrador---titulo___principal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .contenedor___titulo---principal {
    position: static;
  }

  .imagen___fondo {
    display: none;
  }

  .imagen___fondo---2 {
    display: none;
  }

  .imagen___fondo---3 {
    display: none;
  }

  .information {
    width: 73%;
  }

  .contenedor___imagenes---redes {
    gap: 30px;
  }
}

@media (max-width: 900px) {
  header nav {
    width: 100%;
    padding: 0px 10px;
  }

  .contenedor___principal---perfil___emprendedor---vista___usuario {
    margin: 45px 0px 0px 0px;
    width: 95%;
  }

  .informacion___personal---emprendedor___vista---usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .lista___de---servicios li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .information {
    width: 80%;
  }

  #footerCambiante {
    position: absolute;
    bottom: -400px;
    bottom: -20vh;
  }

  #segundoParrafoFooter {
    display: none;
  }

  #segundaEstructuraFooter a {
    width: 40px;
  }

  #segundaEstructuraFooter a img {
    width: 40px;
  }

  footer #primerEstructuraFooter h2 {
    font-size: 17px;
  }

  footer #primerEstructuraFooter p {
    font-size: 15px;
  }

  footer #segundaEstructuraFooter h2 {
    font-size: 17px;
  }
}

@media (max-width: 880px) {
  #footerCambiante {
    bottom: -60vh;
  }
}

@media (max-width: 708px) {
  #contenedorBuscar {
    display: none;
  }

  .contenedor___nav---ordenado {
    width: 50%;
  }
}

@media (max-width: 660px) {
  .contenedor___principal---perfil___emprendedor---vista___usuario {
    display: none;
  }

  .contenedor___perfil---emprendedor___mobile {
    display: flex;
    margin-top: 30vh;
    background-color: white;
    border-radius: 8px;
  }

  #formularioConsultas {
    width: 100%;
    gap: 40px;
  }

  .contenedor___informacion---pagina___footer {
    padding: 20px 1px;
  }

  .contenedor___imagenes---redes {
    display: none;
  }

  .contenedor___links---redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90%;
    margin-top: 5px;
  }

  footer {
    height: 260px;
  }

  #footerCambiante {
    bottom: -100vh;
  }

  #footerCambianteDos {
    position: absolute;
    bottom: -70vh;
  }
}

@media (max-width: 460px) {
  #listaBtn {
    padding: 0;
  }

  .img___icono {
    display: none;
  }

  .contenedor___nav---ordenado___img---icono---mobile {
    display: flex;
    width: 30%;
  }

  .contenedor___nav---ordenado {
    width: 70%;
  }

  .contenedor___titulo---principal {
    border-radius: 8px;
    height: 400px;
    width: auto;
    justify-content: space-around;
    padding: 0px 10px;
  }

  .contenedor___titulo---principal h1 {
    width: 80%;
    font-size: 28px;
  }

  .contenedor___img---icono {
    display: none;
  }

  .card {
    width: 220px;
  }

  .formulario___inicio---sesion {
    width: auto;
    padding: 10px;
  }

  .formulario___registro {
    width: auto;
    padding: 10px;
  }

  footer {
    height: 300px;
    flex-direction: column;
    justify-content: center;
  }

  footer h2 {
    text-align: center;
  }

  #primerEstructuraFooter {
    display: none;
  }

  #segundaEstructuraFooter {
    display: none;
  }

  #tercerEstructuraFooter {
    display: none;
  }

  .contendor___informacion---footer___mobile {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contenedor___redes---mobile {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
  }

  .contenedor___img---link {
    height: 33%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contenedor___img---link a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .contenedor___img---link a:hover {
    color: rgb(0, 132, 255);
  }

  .contenedor___img---link img {
    width: 40px;
  }

  .acerca___de---nosotros {
    width: 100%;
    text-align: center;
    padding-left: 20px;
    margin-top: 20px;
  }

  .acerca___de---nosotros a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
  }

  .acerca___de---nosotros a:hover {
    color: rgb(0, 132, 255);
  }

  #footerCambiante {
    bottom: -230vh;
  }
}

@media (max-width: 375px) {
  .formulario___registro h1 {
    margin: 0;
  }

  .form-group {
    width: auto;
  }

  .form-group_r {
    width: auto;
  }

  .contenedor___botones---registro {
    flex-direction: column;
    gap: 40px;
  }

  .contenedor___registro---btns___alineado {
    flex-direction: column;
    gap: 0px;
    width: auto;
    height: 120px;
  }

  .contenedor___imagen---nombre___emprendedor---mobile {
    flex-direction: column;
  }
}

/* media querys height */

@media (max-height: 845px) {
  #mainCambiante {
    height: auto;
  }

  .contenedor___perfil---emprendedor___mobile {
    margin-top: 70vh;
  }

  #footerCambianteDos {
    bottom: -110vh;
  }

  #footerCambiante {
    position: static;
  }
}
@media (max-height: 750px) {
  #mainCambiante {
    height: auto;
  }

  .contenedor___perfil---emprendedor___mobile {
    margin-top: 85vh;
  }

  #footerCambianteDos {
    bottom: -125vh;
  }

  #footerCambiante {
    position: static;
  }
}

@media (max-height: 695px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 115vh;
  }

  #footerCambianteDos {
    bottom: -165vh;
  }
}

@media (max-height: 600px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 145vh;
  }

  #footerCambianteDos {
    bottom: -195vh;
  }
}

@media (max-height: 530px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 180vh;
  }

  #footerCambianteDos {
    bottom: -235vh;
  }
}

@media (max-height: 460px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 220vh;
  }

  #footerCambianteDos {
    bottom: -295vh;
  }
}

@media (max-height: 400px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 290vh;
  }

  #footerCambianteDos {
    bottom: -370vh;
  }
}

@media (max-height: 330px) {
  .contenedor___perfil---emprendedor___mobile {
    margin-top: 320vh;
  }

  #footerCambianteDos {
    bottom: -420vh;
  }
}

/*# sourceMappingURL=estilos.css.map */