$color_1: black;
$color_2: rgb(0, 132, 255);
$color_3: #bdbcbc;
$color_4: white;
$font-family_1: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
$font-family_2: "Times New Roman", Times, serif;
$background-color_1: aliceblue;
$background-color_2: black;
$background-color_3: #bdbcbc;
$background-color_4: white;
$background-color_5: rgb(7, 42, 75);
$background-color_7: rgb(54, 54, 54);

@mixin formularioFlex{
display: flex;
justify-content: center;
align-items: center;
}